<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>14th Nov 2015 - Meet first time at Chutneys Secunderabad</string>
	<string>26th Nov 2015 - My parents visited Ruchika&apos;s house to confirm marriage proposal</string>
	<string>27th Nov 2015 - We started talking</string>
	<string>11th Dec 2015 - We met first time at Menchies Yogurt</string>
	<string>12th Dec 2015 - Lunch at Chutneys Himayath nagar</string>
	<string>14th Dec 2015 - Surprise party at Testa Cossa</string>
	<string>25th Dec 2015 - First kiss</string>
</array>
</plist>
