<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>To each other, we’ve made many beautiful promises. But the best ones are still in my heart, waiting to be made when the time is right. I love you.</string>
	<string>If I were a cell phone, you would be the charger. I would be dead without you. I love you.</string>
	<string>The surreal sun-kissed hues of Instagram are nothing new for me. My life was already drenched in rosy tints since the day we got married. I love you.</string>
	<string>The epitome of romance, the pinnacle of commitment and the essence of marital bliss, is what our love life is. I love you.</string>
	<string>If our lives were a ship, I would call it LOVE FOREVER. Happy sailing.</string>
	<string>I fall short of words to tell you how much you mean to me. All I can say is that my life revolves around you… and nothing else matters. xoxo</string>
	<string>Falling in love with you is the moment I got a cause to fight for and a reason to live for. I love you.</string>
	<string>It doesn’t matter how many years pass by, the flight of our love will always fly high. I love you.</string>
	<string>You’ve made my imperfections seem perfect and all my shortcomings appear complete. I don’t know how I’ll ever be able to thank you for everything you’ve done. But I promise, I’ll never stop trying. I love you.</string>
	<string>Fights and arguments, ups and downs. Hugs and kisses, smiles and frowns. We’ll sail through it all together, not just now but forever. I love you.</string>
	<string>I don’t know how long I am going to live but I know that every single second will be worth a lifetime because it will be spent with you. I love you.</string>
	<string>After being married to you all these months, I have developed a short term memory loss. Every time you flash that sensuous smile of yours, I am knocked out of my senses. I love you.</string>
	<string>If I had to pick between laughing together and crying together, I would pick crying because I’d never want you to cry alone. xoxo</string>
	<string>I don’t know the official definition of WIFE but for me it means – the Woman who is Independent, Fun loving and Eternally in love with me. You fit this definition perfectly. I love you.</string>
	<string>If I was granted just one wish, I would ask for a longer life. The number of years I am destined to live on this planet may not be enough for me to tell you how much I love you.</string>
	<string>Despite the ups and downs, I have absolutely no regrets in life because it all led me to you. I love you.</string>
	<string>I don’t need to add sugar in my coffee because your kisses are all the sweetness I need in my life. xoxo</string>
	<string> If you replace L in life with W, you get wife. That is because life isn’t worth living without a lovely wife like you. I love you darling.</string>
	<string>No matter how hard and punishing a day has been, I know I’m going home to the most beautiful person there has ever been. I love you.</string>
	<string>Happiness is the tickle I get deep down in my soul, when we kiss. I love you.</string>
	<string>I feel like I am drowning every single day and your kisses are my life-saving gasps of air. I love you.</string>
	<string>The doctor told me that antioxidants and omega-3 fatty acids are important for my longevity. But my heart believes that all it needs are your hugs and kisses. xoxo</string>
	<string>I may have made some stupid mistakes in my life. But everything became right ever since the day you became mine. I love you.</string>
	<string>Had fate not made you my life, there would be no point living my life. I love you.</string>
	<string>My love for you is like a delightful mix of addiction, dependency, need and obsession. xoxo</string>
	<string>People get high on tequila shots, while I get high on you. I love you.</string>
	<string>Our wedding hasn’t drastically flipped my life upside down. But it has definitely become free of frowns. I love you.</string>
	<string>Researchers, miners and explorers who spend millions on finding the world’s most precious gems are fools. They don’t know that I have stolen it already and it is called YOU. I love you sweetheart.</string>
	<string>If you could see the world as I do, you would realize how much I love you.</string>
	<string>I wish I could invent a new language of love. Words in the English dictionary are not enough to express how much I love you.</string>
	<string>Early mornings and late nights are the best part of my day because I get to kiss my wife Good Morning and Good Night. I love you.</string>
	<string>I will never need an energy drink to give myself a boost, as long as I see that luscious smile on your beautiful face. I love you.</string>
	<string>Your beautiful face is like a bright sun. I could pass out if I looked at it too long. I love you.</string>
	<string>My love for you knows no time and place. My heart starts thumping every time I see your beautiful face. I love you.</string>
	<string>When I fell in love with you, I didn’t just give you my heart. I gave you the remote control of my entire life. I love you darling.</string>
	<string>It doesn’t matter if my eyes are open or close. They’re always looking at you. I love you.</string>
	<string>Ever since the day we got married I have felt that I am living in heaven, because I have an angel by my side. I love you.</string>
	<string>From fixing my wrongs to adding value to my rights, you’ve made life a journey worth all the troubles. I love you.</string>
</array>
</plist>
